/***********************************通用的样式*************************************/
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
/***********************************头部的样式*************************************/
#my_header{

}

@font-face
{
font-family: icomoon;
src: url('../fonts/icomoon.eot') format('embeded-opentype'),
url('../fonts/icomoon.svg') format('svg'),
url('../fonts/icomoon.ttf') format('truetype'),
url('../fonts/icomoon.woff') format('woff');
} 
/*模糊匹配*/
[class^="icon-"],
[class*=" icon-"]{
    font-family: icomoon;
    font-style: normal;
}

#my_header .top-bar{
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid#e0e0e0;
}

#my_header .top-bar .row>div+div{
    border-left: 1px solid#e0e0e0;
}

#my_header .top-bar .row .top-bar1 a{
    position: relative;
}

#my_header .top-bar .container-fluid .row .top-bar1 a img{
    display: none;
    position: absolute;
    left:50%;
    margin-left: -60px;
    margin-top: -10px;
    z-index: 9999;
}

#my_header .top-bar .container-fluid .row .top-bar1 a:hover img{
    display: block;
}

#my_header .navbar-my{
    background-color: #ffffff;
    margin-bottom: 0px;
}

#my_header .navbar-my .navbar-brand{
    height: 70px;
    padding: 10px 15px;
}

#my_header .navbar-my .navbar-nav a{
    height: 70px;
    line-height: 40px;
}

#my_header .navbar-my .navbar-nav li.active a,
#my_header .navbar-my .navbar-nav li a:hover{
    background-color: transparent;
    border-bottom: 2px solid #337ab7;
}

#my_header .navbar-my .navbar-toggle{
    margin-top: 18px;
}

.icon-phone::before{
    content: '\e938';
    font-size: 13px;
}

.icon-tel::before{
    content: '\e942';
    font-size: 13px;
}


/***********************************轮播图样式*************************************/
#my_carousel{

}

#my_carousel .item{
    background: no-repeat center center;
    -webkit-background-size : cover;
    background-size: cover;
}
/***********************************监听屏幕的值为800时*************************************/

@media screen and (min-width: 800px){
    #my_carousel .item{
        height: 410px;
    }
}

/***********************************关于我们*************************************/
#my_about {
    padding: 20px 0;
}

#my_about .title{
    padding-bottom: 15px;
}

#my_about .container .row .team{
    width: 400px;
    height: 300px;
    background: no-repeat center center;
    background-size: 100%;
}

#my_about .container .row p{
    line-height: 30px;
    font-size: 15px;
}

/***********************************产品特色*************************************/
#my_product{
    background-color: #f0f0f0;
    padding: 30px 0;
}

#my_product .nav{
    font-size: 18px;
}

#my_product .nav a {
    color: #999;
}

#my_product .nav li.active a{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #0AB4F7;
    color:#000;
}

#my_product .tab-content{
    padding-top: 20px;
}

#my_product .pd-left{
    padding: 40px 0px;
}

#pd_one_1{
    margin: 15px 0px;
}

#pd_one_2{
    background-color: transparent;
}

#pd_one_4{
    margin: 15px 0px;
}

#my_product #pd_two_1{
   padding: 100px 0px; 
}